html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover, a:active {
  text-decoration: none;
  color: inherit; }

.wrapper {
  max-width: 841px;
  width: 100%;
  margin: 0 auto;
  padding: 0; }

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0; }

.header__nav__item {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin-left: 31px;
  font-family: 'Tahoma', sans-serif; }

.header__mobile-menu {
  display: none; }

/* main*/
.main {
  margin-bottom: 100px; }

/* post */
.main__post {
  background: #f0f0f0;
  padding: 20px 30px;
  display: flex;
  width: 100%;
  box-sizing: border-box; }

.post__img {
  width: 50%; }

.post__img__item {
  width: 380px;
  height: 230px; }

.post__data {
  width: 50%;
  margin-left: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start; }

.post__data__title {
  font-size: 21px;
  line-height: 28px;
  font-weight: bold;
  color: #000;
  font-family: 'Tahoma', sans-serif; }

.post__data_description {
  font-size: 14px;
  line-height: 20px;
  color: #8d8d8d;
  font-family: 'Times New Roman', Times, serif; }

.post__data__btn {
  font-family: 'Tahoma', sans-serif;
  padding: 10px 25px;
  background: #c53b32;
  border: none;
  color: #fefefe;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer; }
  .post__data__btn:hover {
    background: #882923; }

/* article */
.main__article {
  margin-top: 25px; }

.article__title {
  font-family: 'Tahoma', sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
  color: #000;
  margin-bottom: 13px; }

.article__description {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
  color: #8d8d8d; }

/* advantages */
.main__advantages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 32px 10px 25px 10px; }

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px; }

.advantages__item_description {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin-left: 16px;
  color: #000;
  font-size: 14px;
  line-height: 18px; }

@media screen and (max-width: 800px) {
  .main__post {
    display: flex;
    flex-direction: column; }
  .post__img {
    width: 100%;
    text-align: center; }
  .post__img__item {
    width: 100%;
    height: 100%; }
  .post__data {
    width: 100%;
    margin-left: 0; } }

@media screen and (max-width: 520px) {
  .header {
    flex-direction: column;
    justify-content: center; }
  .header__nav__item {
    display: flex;
    margin-bottom: 10px;
    margin-left: 0; }
  .header__nav {
    margin-top: 20px;
    display: none; }
  .header__nav.responsive {
    display: block; }
  .header__mobile-menu {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 20px; } }
